<h1>Payment</h1>

 <%= form_with model: @payment do |form| %>


  <div>
    <%= form.label :payment_type %><br>
    <%= form.text_field :payment_type %>
  </div>

  <div>
    <%= form.label :amount %><br>
    <%= form.text_field :amount %>
  </div>
 <div>
    <%= form.submit %>
  </div>
<% end %>