<button><%= link_to "export",  export_path, remote: true %></button>
<table class="table table-striped table-class" id= "table-id" style="border-collapse: separate;" style="border-spacing: 0px 15px;" >
 <thead>  
  <tr>
    <th>Product name </th>
    <th>product model </th>  
    <th>payment type </th>  
    <th>product price </th>
    <th> Date </th>
  </tr>  
  </thead>

  <tbody>
  <% @my_orders.each do |order| %>
  <tr>
    <td style="width:150px"><%= order.product.name %></td>
    <td style="width:150px"><%= order.product.model %></td>
    <td style="width:150px"><%= order.payment_type %></td>
    <td style="width:150px"> Rs.<%= order.product.price %></td>
    <% is_today = (DateTime.now - order.product.created_at.to_datetime).to_i == 0 ? true : false %>
    <td style="width:150px"> <%= is_today ? 'Today' : "#{distance_of_time_in_words_to_now(order.product.created_at)} ago" %></td>
  </tr>

<% end %>   

</tbody>
</table> 
<!-- <div class="pagination"> -->
>  <%= will_paginate @my_orders %>
<!-- </div