<h1>Card</h1>

  <%= form_with model: @card do |form| %>

  <div>
    <%= form.label :card_id %><br>
    <%= form.text_field :card_id %>
  </div>

  <div>
    <%= form.label :total_cost %><br>
    <%= form.text_field :total_cost %>
  </div>
  
  <div>
    <%= form.label :quantity %><br>
    <%= form.text_field :quantity %>
  </div>
  

  <div>
    <%= form.submit %>
  </div>
  <% end %>