
<% if current_user.admin? %>
<%= link_to "add category", new_category_path %>
<% end %>
<div class="Search">
<%= form_tag categories_search_path, :method => "get", remote: true do %>
<%= label_tag(:search, "Search for Categories")%>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag("search", :name => nil)%>
<% end %></div>
<div id="categories_list">
  <%= render partial: 'categories_list', locals: { categories: @categories } %>
</div>






