<p><% products=@category.products%>

           
 <p><h2><%= @category.category_name %></h2>
  <% if current_user.admin? %>
  <%= link_to "New Product", new_category_product_path(@category) %>
  <% end %>
 </p>
 <div class="Search">
<%= form_tag search_path , :method => "get", remote: true do %>
<%= label_tag(:search, "Search for Products")%>
<%= hidden_field_tag :category_id, @category.id %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag("Search", :name => nil)%>
<% end %></div>
<div id="products_list">
  <%= render partial: 'products_list', locals: { products: products } %>
</div>
  
