<p><% products=@category.products%>

           
 <p><h2><%= @category.category_name %></h2>
  <%= link_to "New Product", new_category_product_path(@category) %>
 </p>

<ul>
  <% products.each do |product| %>
    <li>     
      <%= link_to product.name, category_product_path(@category, product) %>
      <%= link_to "Edit ", edit_category_product_path(@category, product) %>
      <%= link_to "Destroy", category_product_path(@category, product), method: :delete %>
     </li
  </ul>

 
 <% end %>
 
